body {
  color: #5d5d5d;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.25em; }

h3, h4, h5, h6 {
  font-size: 1.5em; }

.page-heading {
  max-width: 850px;
  margin-top: 0;
  color: #fff;
  font-size: 3em;
  line-height: 1.2; }

.section-heading {
  margin: 0;
  color: #04142b;
  font-size: 2.25em; }

.subheading {
  color: #032940;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.125em;
  text-transform: uppercase; }
