/* ==================== 
    BASE
   ==================== */
html, body {
  min-height: 100% !important;
  height: 100%; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.invisible {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden; }

.visible {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  visibility: visible; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

.left {
  float: left; }

.right {
  float: right; }

.valign {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.center {
  text-align: center; }

/* MISC */
hr {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #ebebeb; }

/* COLOURS */
/* ICON */
a.arrow-right:after, a.arrow-left:after, a.arrow-right:before, a.arrow-left:before {
  display: inline-block;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* WORDPRESS IMAGE */
.alignleft {
  float: left;
  margin-top: 1em;
  margin-right: 2em;
  margin-bottom: 1em; }

.alignright {
  float: right;
  margin-top: 1em;
  margin-left: 2em;
  margin-bottom: 1em; }

.aligncenter {
  display: block;
  margin: 2em auto; }

img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
  height: auto;
  /* Make sure images with WordPress-added height and width attributes are scaled correctly */ }

img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
  max-width: 100%;
  height: auto;
  /* Make sure images with WordPress-added height and width attributes are scaled correctly */ }

/* Make sure videos and embeds fit their containers */
embed,
iframe,
object,
video {
  max-width: 100%; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto; }
  .embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.wp-caption {
  /*background: #fff;*/
  /*border: 1px solid #f0f0f0;*/
  max-width: 96%;
  /* Image does not overflow the content area */
  /*padding: 5px 3px 10px;*/
  /*text-align: center;*/ }

.wp-caption-text {
  margin-bottom: 0;
  padding: 0 0.5em;
  color: #333;
  font-size: 0.75em;
  font-style: italic;
  line-height: 1.1; }

body {
  color: #5d5d5d;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 119%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  line-height: 1.5; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 1.9em; }

h3, h4, h5, h6 {
  font-size: 1.3em; }

a {
  color: #032940;
  text-decoration: none;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s; }
  a:hover {
    color: #054871; }

a.arrow-right, a.arrow-left {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 0.74em;
  text-transform: uppercase; }
  a.arrow-right:after, a.arrow-left:after, a.arrow-right:before, a.arrow-left:before {
    display: inline-block;
    font-size: 0.4em;
    margin-top: -1px; }

a.arrow-right:after {
  content: "\e606";
  margin-left: 5px; }

a.arrow-left:before {
  content: "\e605";
  margin-right: 5px; }

.page-heading {
  max-width: 850px;
  margin: 0;
  color: #fff;
  font-size: 2.5em;
  line-height: 1.2; }
  @media screen and (max-width: 600px) {
    .page-heading {
      font-size: 2.25em; } }
  @media screen and (max-width: 500px) {
    .page-heading {
      font-size: 1.57em; } }

.subtitle {
  margin: 0 0 0.8em 0;
  color: #04142b;
  font-size: 2.05em;
  line-height: 1; }
  @media screen and (max-width: 750px) {
    .subtitle {
      font-size: 1.37em; } }

@media screen and (max-width: 750px) {
  .subtext {
    font-size: 0.85em; } }

.subheading {
  color: #032940;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 0.95em;
  line-height: 1.2;
  text-transform: uppercase; }

.number {
  display: inline-block;
  margin-bottom: 0.3em;
  padding-bottom: 5px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 2.1em;
  line-height: 1;
  border-bottom: 8px solid #ccc; }

table {
  margin: 0;
  padding: 0; }

table th,
table td {
  padding: 10px 20px;
  text-align: left;
  border-bottom: 1px solid #ccc; }

table th {
  border-width: 2px; }

table td {
  color: #666; }

table tr:last-child th,
table tr:last-child td {
  border-bottom: none; }

table tr:nth-child(even) {
  background: #eee; }
