.btn{
	padding: 0;
	background: none;
	border: none;
	outline: none;
}

.button{
	display: inline-block;
	padding: 1.2em 2.4em;
	@include mont;
	font-size: 0.65em;
	letter-spacing: 1px;
	line-height: 1;
	text-transform: uppercase;
	text-decoration: none;
	border: none;
	@include border-radius(5px);
	@include transition(all,.3s);

	&.primary{
		color: #fff;
		background-color: $orange;

		&:hover{
			background-color: darken($orange, 10%);
		}
	}

	&.invert{
		padding:0.8em 2.2em;
		color: #fff;
		font-size: 1em;
		border: 3px solid #fff;
		@include border-radius(5px);

		&:hover{
			color: #262523;
			background-color: #fff;
		}
	}

	&.large{
		font-size: 1.2em
	}
	&.small{
		font-size: 0.8em
	}
}// .button

.underline{
	padding-bottom: 5px;
	color: #d0d0d0;
	@include mont;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 5px solid #ccc;
	@include transition(all,.3s);

	&:hover{
		color: darken(#d0d0d0, 10%);
		border-color: darken(#ccc, 10%);
	}
}// .underline

.infinite{
	color: #76818b;
	@include transition(all,.3s);
	
	&:hover{
		color: darken(#76818b, 10%);
	}
	
	span{
		@include mont;
		font-size: 0.875em;
		text-transform: uppercase;
	}

	i{
		display: inline-block;
		vertical-align: middle;
		font-size: 0.5em;
	}
}// .infinite