/* ==========================================================================
   HEADER
   ========================================================================== */

#header{

	a{
		color: #fff;
		@include mont;
		text-transform: uppercase;
	}

	nav{
		overflow: hidden;
	}

	ul.menu{
		@extend %notalist;
		overflow: hidden;
	}

	li.menu-item{
		float:left;

		a{
			display: inline-block;
		}
	}

}// #header

#header-top{
	padding: 0.8em 0;
	background-color: #393939;

	ul.menu{
		float: right;
	}

	a{
		margin-left: 2em;
		font-size: 0.75em;
		
		@media screen and (max-width: 1200px){
			font-size: 0.625em;
		}
	}

}// #header-top

#header-main{
	padding: 1.5em 0 ;
	background-color: #262523;

	.logo{
		float:left;

		@media screen and (max-width: 1200px){
			img{
				width: 50%;
			}
		}
		@media screen and (max-width: 900px){
			width: 100%;

			img{
				max-width: 100%;
			}
		}
	}// .logo

	nav{
		@extend .valign;
		right: 0;
		margin-left: 321px;

		@media screen and (max-width: 1200px){
			margin-left: 200px;
		}

		@media screen and (max-width: 900px){
			position: relative;
			top:0;
			@include translateY(0);
			width: 100%;
			margin-left: 0;
			padding-top: 1.5em;
			text-align: center;
		}

		@media screen and (max-width: 750px){
			max-height: 0;
			padding-top: 0;
			@include transition(all, .3s);

			#header.visible &{
				max-height: 500px;
				padding-top: 1em;
			}
		}
	}// nav

	ul.menu{
		position: relative;

		@media screen and (max-width: 900px){
			float: none;
			display: inline-block;
		}
	}
	
	li.menu-item{
		margin-top: 3px;
		padding:0.8em 2em;

		&:first-child{
			padding-left: 0;
		}

		@media screen and (max-width: 750px){
			float: none;
			margin: 0;
			padding:0.7em;

			&:first-child{
				padding: 0.7em;
			}
		}

		a{
			margin-top: 3px;

			@media screen and (max-width: 1200px){
				font-size: 0.75em;
			}
		}

		&.nav-cta{
			padding: 0;

			a{
				margin-top: 0;
				padding:0.8em 2.2em;
				border: 3px solid #fff;
				@include border-radius(5px);

				&:hover{
					color: #262523;
					background-color: #fff;
				}
			}	
		}
	}// .menu-item

	#js-menu{
		position: absolute;
		top: 0;
		right: 0;
		padding-top: 20%;
		display: none;
		color: #fff;
		font-size: 0.75em;
		@include mont;
		text-transform: uppercase;
		letter-spacing: 1px;


		i{
			display: inline-block;
			font-size: 1.5em;
			vertical-align: sub;
		}

		@media screen and (max-width: 750px){
			display: inline-block;
		}
	}// #js-menu

}// #header-main

/* ==========================================================================
   PAGES
   ========================================================================== */

.image-header{
	padding-top: 28%;
	background-size: cover;
	background-position: center;

	@media screen and (max-width:900px){
		padding-top: 40%;
	}
	@media screen and (max-width:550px){
		padding-top: 50%;
	}
}

.page-header{
	padding: 4em 0;

	&.bg{
		background-size: cover;
		background-position: center;
	}

	&.black{
		background-color: $black;
	}

	&.orange{
		background-color: $orange;
	}

	&.blue{
		background-color: $blue;
	}

	&.red{
		background-color: $red;
	}

	&.green{
		background-color: $green;
	}

	&.purple{
		background-color: $purple;
	}

	&.darkblue{
		background-color: $dblue;
	}

	// CATEGORIES
	&.news{
		background-color: $news;
	}

	&.marketing{
		background-color: $marketing;
	}

	&.finances{
		background-color: $finances;	
	}

	&.startup-spotlight{
		background-color: $startup;	
	}

	.button{
		margin-top: 2em;
	}

}// .page-header

.section{
	padding: 3em 0;
}// .section

.alt-section{
	background-color: #fbfbfe;
	border-top: 1px solid #ebebea;
	border-bottom: 1px solid #ebebea;
}

.dblue-section{
    background-color: $dblue;
}

.section-heading{
	padding: 1em;
	line-height: 1;
	border-top: 1px solid #ebebea;
	border-bottom: 1px solid #ebebea;
}

.inner-container{
	width: 90%;
	max-width: 700px;
	margin: 0 auto;
	@extend .clearfix;

	.button{
		margin:1em 0;
	}
}

.cta{
	background-color: #fff !important;

	h3{
		margin: 0 0 0.5em 0;
		color: $dblue;
		font-size: 1.85em;
	}

	.button{
		padding: 1em 2.5em;
	}

}// .cta

.social{
	@extend %notalist;

	a{
		font-size: 1.5em;
	}

	i{
		display: inline-block;
		@include transition(all, .3s);
	}

	.icon-facebook{
		color: #3b5998;

		&:hover{
			color: darken(#3b5998,10%);
		}
	}
	.icon-twitter{
		color: #2caae1;

		&:hover{
			color: darken(#2caae1,10%);
		}
	}
	.icon-google{
		color: #bb2f2c;

		&:hover{
			color: darken(#bb2f2c,10%);
		}
	}
	.icon-linkedin{
		color: #1c76aa;

		&:hover{
			color: darken(#1c76aa,10%);
		}
	}
}// .social

#infinity{
	#infscr-loading{
		float: left;
		width: 100%;
		text-align: center;
	}
}// #infinity

.infinity-nav{
	display: block !important;
	margin: 3em 0 1em 0;
	text-align: center;

	a{
		@extend .underline;
	}
}

/* ==========================================================================
   SLIDER
   ========================================================================== */

.slider{
	margin-top: 1em;

	.slide-title{
		margin: 0 0 0.5em 0;
		color: $dblue;
	}

	.slide-image{
		margin: 2em 0 1em 0;
	}

	.owl-nav{
		@extend .valign;
		width: 100%;

		.owl-prev,.owl-next{
			@extend .valign;
			@extend %icon;
			color: #d7d7d7;
			font-size: 3em;
			@include transition(all,.3s);

			&:hover{
				color: initial;
			}
		}
		
		.owl-prev{
			&:after{
				content: "\e605";
			}
		}

		.owl-next{
			right: 0;

			&:after{
				content: "\e606";	
			}
		}
	}// .owl-nav

	.owl-dots{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		text-align: center;

		.owl-dot{
			display: inline-block;
			height: 10px;
			width: 100px;
			margin-left: 10px;
			background-color: #d7d6d6;
			@include transition(all,.3s);

			&:first-child{
				margin-left: 0;
			}

			&:hover, &.active{
				background-color: $orange;				
			}
		}
		
	}// .owl-dots

}// .slider

/* ==========================================================================
   FOOTER
   ========================================================================== */

#footer{
	padding: 3em 0;
	background-color: #262523;

	@media screen and (max-width: 500px){
		padding: 1.5em 0;
	}

	.logo{
		@media screen and (max-width: 500px){
			width: 10%;
		}
		@media screen and (max-width: 400px){
			margin:0 0 1em 45%;
		}
	}

	.sitemap{
		ul.menu{
			@extend %notalist;
			overflow: hidden;
		}

		li.menu-item{
			float: left;
			width: 50%;
			margin-bottom: 1em;

			a{
				color: #fff;
				font-size: 0.75em;
				@include mont;
				text-transform: uppercase;
			}
		}

		@media screen and (max-width: 700px){
			width: 80%;
			margin-bottom: 1em;
		}

		@media screen and (max-width: 550px){
			display: none;
		}
	}// .sitemap

	.footer-info{
		color:#fff;
		
		a{
			color: #fff;
		}

		.address{
			p{
				margin-top: 0;
				line-height: 1.7;
			}

			a{
				padding-bottom: 3px;
				border-bottom: 1px dotted rgba(#fff,0.7);

				&:hover{
					border-bottom: 1px dotted #fff;
				}
			}
		}

		.social{

			a{
				margin-left: 0.5em;

				i{
					color: #fff;

					&:hover{
						color: darken(#fff,10%);
					}
				}

				&:first-child{
					margin-left: 0;
				}
			}
		}

		@media screen and (max-width: 500px){
			width: 90%;
		}
		@media screen and (max-width: 400px){
			width: 100%;
		}
	}// .footer-info
	
}// #footer