/* ==========================================================================
   PAGE SPECIFIC STYLES
   ========================================================================== */
/* ==========================================================================
   ABOUT
   ========================================================================== */

#about{

	.page-header{
		min-height: 400px;
	}

	.section{

		.subheading{
			margin-bottom: 2em;
		}

		figure{
			margin-top: 3em;
			margin-bottom: -3em;
		}

		&:nth-of-type(2n){
			@extend .alt-section;
		}	
	}

}// #about

/* ==========================================================================
   CLUBROOM & ARCHIVE
   ========================================================================== */

#article-filters{
	border-bottom: 1px solid #ebebeb;
	
	select{
		margin-right: 20px;
	}
	.search{
		display: inline-block;

		@media screen and (max-width: 600px){
			display: block;
			margin: 20px 0 0 0;
		}
	}

}// #filters

// used for articles and resources styling
%gridstyle{
	padding: 40px 30px;
	border: 1px solid #ebebeb;
	border-bottom: none;
}

#article-list{

	.row{
		margin:0 -20px;

		@media screen and (max-width: 1000px){
			margin:0 -10px;
		}
	}
	
	.section-heading{
		margin-bottom: 1em;
	}

	article{
		margin-bottom: 40px;
		padding: 0 20px;

		@media screen and (min-width: 1000px){
			&:nth-child(3n+1){
				clear: left;
			}
		}

		@media screen and (max-width: 1000px){
			margin-bottom: 20px;
			padding: 0 10px;
			font-size: 80%;
		}

		@media screen and (max-width: 750px){
			width: 50%;
			&:nth-child(2n+1){
				clear: left;
			}
		}

		@media screen and (max-width: 600px){
			font-size: 70%;
		}

		@media screen and (max-width: 500px){
			width: 100%;
		}

		.inner{
			@extend %gridstyle;
			position: relative;
			min-height: 450px;
			background-color: #fff;
			@include transition(all, .3s);

			&:hover{
				background-color: darken(#fff, 2%);
			}	

			@media screen and (max-width: 1000px){
				min-height: 350px;
			}

			@media screen and (max-width: 500px){
				min-height: initial;
			}
		}

		.category{
			display: inline-block;

			ul{
				@extend %notalist;
				list-style-type: none;
			}

			li{
				display: inline-block;
			}

			a{
				display: inline-block;
				padding-bottom: 5px;
				@include mont;
				font-size: 0.875em;
				letter-spacing: 0.5px;
				text-transform: uppercase;
			}
		}

		.title{
			font-size: 1.75em;
		}

		&.news{
			.inner{
				box-shadow:0 5px 0 0 $news;
			}

			.category{
				border-bottom: 8px solid $news;
			}
		}

		&.marketing{
			.inner{
				box-shadow:0 5px 0 0 $marketing;
			}

			.category{
				border-bottom: 8px solid $marketing;		
			}
		}

		&.finances{
			.inner{
				box-shadow:0 5px 0 0 $finances;
			}
			.category{
				border-bottom: 8px solid $finances;	
			}
		}

		&.startup-spotlight{
			.inner{
				box-shadow:0 5px 0 0 $startup;
			}
			.category{
				border-bottom: 8px solid $startup;	
			}
		}

		.date{
			position: absolute;
			bottom: 40px;
			left:30px;
			@include mont;
			font-size: 0.875em;
			letter-spacing: 0.5px;
			text-transform: uppercase;
		}
	}// article

}// article-list

#resource-list{

	.section-heading{
		margin-bottom: 1em;
	}

	.container{
		margin-top: 3em;
	}

	.row{
		margin:0 -20px;

		@media screen and (max-width: 1000px){
			margin:0 -10px;
		}
	}

	article{
		margin-bottom: 40px;
		padding: 0 20px;

		@media screen and (min-width: 1000px){
			&:nth-child(2n+1){
				clear: left;
			}
		}
		@media screen and (max-width: 750px){
			width: 100%;
			font-size: 100%;
		}

		.inner{
			@extend %gridstyle;
			box-shadow:0 7px 0 0 $orange;
		}

		.title{
			display: inline-block;
			margin-top: 0;
			padding-bottom: 3px;
			line-height: 1.4;
			border-bottom: 8px solid $orange;
		}

		.excerpt{
			font-size: 0.875em;

			p:first-child{
				margin-top: 0;
			}
		}		
	}// article

}// #resources-list

#tweet{

	ul{
		@extend %notalist;
		list-style-type: none;
	}

	.meta{
		margin-bottom: 1em;
		font-size: 1.3125em;
		text-transform: lowercase;

		.time{
			margin-left: 1em;
		}
	}

	.text{
		margin-bottom: 1em;
		font-size: 1.5em;
		line-height: 1.4;

		p{
			margin: 0;
		}

		a{
			color: #orange;

			&:hover{
				color: darken($orange, 10%);
			}
		}
	}

	i{
		color: #000;
	}
}// #tweet

#pagination{
	text-align: center;
	
	.page-numbers{
		padding: 0 0.5em;
		@include roboto;
		
		&.current{
			padding-bottom: 5px;
			border-bottom: 5px solid lighten(#032940, 10%);
		}
	}

	.prev{
		@extend .arrow-left;
	}

	.next{
		@extend .arrow-right;
	}

}// #pagination

/* ==========================================================================
   SINGLE
   ========================================================================== */

#single{
	background-color: #fbfbfe;

	#single-header{
		padding-top: 28%;
		background-size: cover;
		background-position: center;
	}

	#post{
		position: relative;
		max-width: 900px;
		margin: -5em auto 0 auto;
		background-color: #fff;
		border: 1px solid #ebebea;

		.social{
			li{
				display: inline-block;
				margin-left: 5px;

				i{
					vertical-align: bottom;
				}
			}

			&:last-child{
				padding: 0 3em 3em;
			}
		}// .social

		&.news{
			.post-category{
				background-color: $news;
			}

			#post-content{
				blockquote, a{
					color: $news;
				}	
			}
		}

		&.marketing{
			.post-category{
				background-color: $marketing;	
			}

			#post-content{
				blockquote, a{
					color: $marketing;
				}	
			}
		}

		&.startup-spotlight{
			.post-category{
				background-color: $startup;	
			}

			#post-content{
				blockquote, a{
					color: $startup;
				}	
			}
		}

		&.finances{
			.post-category{
				background-color: $finances;	
			}

			#post-content{
				blockquote, a{
					color: $finances;
				}	
			}
		}

	}	// #content

	#post-header{
		padding: 4em 3em 2em;
		border-bottom: 1px solid #ebebea;
		overflow: hidden;

		.post-category{
			position: absolute;
			top: -1px;
			left: 3em;
			display: inline-block;
			padding: 0.8em 2em;
			color: #fff;
			@include mont;
			font-size: 0.875em;
			text-transform: uppercase;
			background-color: #69646F;
		}

		.post-title{
			margin:0 150px 0.5em 0;
			@include roboto;
			font-size: 2.5em;
			line-height: 1;
		}

		.post-date{
			@include mont;
			font-size: 0.875em;
			text-transform: uppercase;
		}

		.social{
			float: right;
			width: 150px;
			text-align: right;
		}

	}// #post-header

	#post-content{
		padding: 2em 3em 0 3em;

		p{
			font-size: 1.125em;
		}

		blockquote{
			@include roboto;
			font-size: 2.25em;
		}
	}// #post-content

	#related{
		max-width: 900px;
		margin: 0 auto 2em auto;
		padding: 2em 3em 3em;
		background-color: #fff;
		border-left: 1px solid #ebebea;
		border-right: 1px solid #ebebea;
		border-bottom: 1px solid #ebebea;

		h3{
			margin-top: 0;
		}

		article{
			position: relative;

			@media screen and (max-width: 650px){
				width: 100%;
				margin-bottom: 20px;

				.related-image{
					height: 200px;
				}
			}

			@media screen and (max-width: 400px){
				width: 100%;
				margin-bottom: 20px;

				.related-image{
					height: 150px;
				}
			}

			&.news{
				.related-image{
					border-bottom: 5px solid $news;
				}
				.related-category{
					background-color: $news;
				}
				
			}

			&.marketing{
				.related-image{
					border-bottom: 5px solid $marketing;
				}
				.related-category{
					background-color: $marketing;	
				}
				
			}

			&.startup-spotlight{
				.related-image{
					border-bottom: 5px solid $startup;
				}
				.related-category{
					background-color: $startup;	
				}
				
			}

			&.finances{
				.related-image{
					border-bottom: 5px solid $finances;
				}
				.related-category{
					background-color: $finances;	
				}
				
			}

			.inner{
				background-color: #fcfcfc;
				border: 1px solid #ebebea;
			}
		}// article

		.related-image{
			height: 135px;
			background-size: cover;
			background-position: center;
		}

		.related-category{
			position: absolute;
			top: 10px;
			left: -1em;
			padding: 0.8em 4em 0.8em 2em;
			color: #fff;
			@include mont;
			font-size: 0.625em;
			text-transform: uppercase;
			background-color: #69646F;
		}

		.meta{
			padding: 1em;
		}

		.related-title{
			min-height: 100px;
			margin: 0;
			font-size: 1em;
		}

		.related-time{
			@include mont;
			font-size: 0.625em; 
			text-transform: uppercase;
		}

	}// #related

}// #single

/* ==========================================================================
   STARTUPS
   ========================================================================== */

#startups{

}// #startups

/* ==========================================================================
   SINGLE STARTUP
   ========================================================================== */

#single-startup{

	@media screen and (max-width: 600px){
		font-size: 80%;
	}

	.section{
		&:nth-child(2n+2){
			@extend .alt-section;
		}	
	}

	header{
		text-align: center;
	}
	
	.images{
		padding: 0;

		.image{
			padding-top: 30%;
			background-size: cover;
			background-position: center;

			@media screen and (max-width: 700px){
				width: 100%;
				padding-top: 60%;
			}
		}
	}

	.description{
		.subheading{
			display: inline-block;
			margin-top: 1em;
		}
	}

	.video{
		padding: 0;
		background-color: #000;

		.embed-container{
			max-width: 640px;
			margin: 0 auto;
		}
	}

	p{
		color: #5d5d5d;
		font-size: 1.125em;
	}

}// #single-startup
