/* ==========================================================================
   PAGE SPECIFIC STYLES
   ========================================================================== */

/* ==========================================================================
   FRONT PAGE
   ========================================================================== */

#home{

	.startups{
		.slide-image{
			text-align: center;
			img{
				display: inline-block;
			}
		}
	}// .startups

	.mentors{
		.container{
			max-width: 1000px;
			margin-top: 2em;
		}

		.mentor{
			@media screen and (max-width: 750px){
				width: 50%;
				margin-bottom: 2em;
			}
			@media screen and (max-width: 450px){
				width: 100%;
				margin-bottom: 2em;

				&:last-child{
					margin-bottom: 0;
				}
			}

			a{
				display: inline-block;

				&:hover{
					img{
						@include opacity(0.8);
					}
				}
			}

			img{
				@include transition(all, .3s);
			}

			h3{
				margin: 0.5em 0 0;
			}
		}// .mentor

		.mentor-cat{
			color: #032940;
			@include mont;
			font-size: 0.79em;
			line-height: 1.2;
			text-transform: uppercase;
		}
	}// .mentors

	.events{

		.events-wrapper{
			position: relative;
			margin-top: 2em;
			overflow: hidden;
		}

		.events-image{
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 500px;
			background-size: cover;
			background-position: center;
		}
	
		.events-list{
			float: right;
			width: 100%;
			max-width: 500px;
			background-color: #fff;

			.subheading{
				margin:0 0 1em;
				padding: 0 2em;

				@media screen and (max-width: 750px){
					text-align: center;
				}
			}

			ul{
				@extend %notalist;
			}

			li{
				border-bottom: 1px solid #ebebeb;

				&:first-child{
					border-top: 1px solid #ebebeb;
				}

				a{
					position: relative;
					display: inline-block;
					width: 100%;
					padding: 1em 2em;

					&:hover{
						background-color: darken(#fff,2%);
					}

					h3{
						margin: 0;
					}

					p{
						margin: 0;
						color: #5d5d5d;
					}

					i{
						@extend .valign;
						right:1em;
						width: 25px;
						text-align: center;
					}			
				}// a
			}// li

		}// .events-list

		@media screen and (max-width:750px){
			.events-image{
				display: none;
			}

			.events-list{
				max-width: initial;
			}
		}

	}// .events

	.quotes{
		&.section{
			padding: 4em 0;
			background-size: cover;
			background-position: center;
		}

		.quote-wrapper{
			position: relative;
			padding-left: 160px;

			@media screen and (max-width: 750px){
				padding-left: 0;
				text-align: center;
			}

			img{
				position: absolute;
				top:0;
				left: 0;

				@media screen and (max-width: 750px){
					position: relative;
					display: inline-block;
				}
			}

			.quote-details{
				h3{
					margin: 0;
				}

				.title,
				.startup{
					margin:0;
					@include mont;
					font-size: 0.825em;
					text-transform: uppercase;
				}
			}
		}
	}// .quotes

	.partners{

		.partner{
			@media screen and (max-width: 1000px){
				width: 50%;
				margin-bottom: 20px;
			}
			@media screen and (max-width: 600px){
				width: 100%;
			}
		}

		.inner{
			height: 150px;
			border: 1px solid #ebebea;

			a{
				position: relative;
				display: inline-block;
				height: 100%;
				width: 100%;
				background-color: #fff;

				&:after{
					content: "";
					position: absolute;
					top:0;
					left:0;
					width: 100%;
					height: 100%;
					background-color: rgba(#fff, 0.5);
					@include transition(all, .3s);
				}

				&:hover:after{
					background-color: rgba(#fff, 0);
				}
			}

			.valign{
				width: 100%;
				padding: 1em;
				text-align: center;
			}
		}
	}

}// #home

/* ==========================================================================
   ABOUT
   ========================================================================== */

#about{
	overflow: hidden;

	.page-header{
		min-height: 400px;
	}
	
	.row{
		margin: 0 -5%;
	}

	.column{
		padding:0 5%;

		@media screen and (max-width: 700px){
			margin-bottom: 1em;

			&.col-1-2{
				width: 100%;
				
			}

			&.col-1-3{
				width: 50%;

				&:last-child{
					width: 100%;
				}
			}
		}

		@media screen and (max-width: 550px){
			&.col-1-3{
				width: 100%;
			}
		}
	}

	.section{
		border-bottom: 1px solid #ebebeb;

		&.white{
			background-color: #fff;
		}

		&.grey, 
		&.about-list{
			background-color: #fbfbfe;
		}

		&.bg{
			background-size: cover;
			background-position: center;
		}
	}// .section
	
	.members{
		margin-top: 1em;
	}

	.member{
		.member-name{
			margin: 0.3em 0;
		}

		.member-title{
			margin: 0 0 0.7em;
			@extend .subheading;
			font-size: 0.825em;
		}

		.member-networks{
			@extend %notalist;

			li{
				display: inline-block;
				margin-left: 5px;

				&:first-child{
					margin-left: 0;
				}
			}

			a{
				color: #dddddd;

				&:hover{
					color: darken(#dddddd,10%);
				}
			}
		}// .member-networks

	}// .member

	.about-list{

		ul{
			@extend %notalist;
	
			li{
				float: left;
				width: 16.667%;
				margin-bottom: 2em;

				@media screen and (min-width:1451px){
					&:nth-child(6n+1){
						clear: left;
					}
				}
				@media screen and (min-width:1051px) and (max-width:1450px){
					width: 20%;

					&:nth-child(5n+1){
						clear: left;
					}
				}
				@media screen and (min-width: 851px) and (max-width:1050px){
					width: 25%;
					font-size: 80%;

					&:nth-child(4n+1){
						clear: left;
					}
				}
				@media screen and (min-width:601px) and (max-width:850px){
					width: 33%;
					font-size: 80%;

					&:nth-child(3n+1){
						clear: left;
					}					
				}
				@media screen and (min-width:401px) and (max-width:600px){
					width: 50%;
					font-size: 80%;
					margin-bottom: 1em;

					&:nth-child(2n+1){
						clear: left;
					}					
				}
				@media screen and (max-width: 400px){
					width: 100%;
					margin-bottom: 1em;
				}


				i{
					display: inline-block;
					margin-right: 10px;
					color: #fab857;
					font-size: 1.5em;
					vertical-align: middle;
				}

				span{
					@extend .subheading;
					font-size: 0.85em;
				}
			}// li		
		}// ul
	}// .about-list

}// #about

/* ==========================================================================
   CLUBROOM & ARCHIVE
   ========================================================================== */

#article-filters{
	border-bottom: 1px solid #ebebeb;
	
	select{
		margin-right: 20px;
	}
	.search{
		display: inline-block;

		@media screen and (max-width: 600px){
			display: block;
			margin: 20px 0 0 0;
		}
	}

}// #filters

// used for articles and resources styling
%gridstyle{
	padding: 40px 30px;
	border: 1px solid #ebebeb;
	border-bottom: none;
}

#article-list{

	.row{
		margin:0 -20px;

		@media screen and (max-width: 1000px){
			margin:0 -10px;
		}
	}
	
	.section-heading{
		margin-bottom: 1em;
	}

	article{
		margin-bottom: 40px;
		padding: 0 20px;

		@media screen and (min-width: 1000px){
			&:nth-child(3n+1){
				clear: left;
			}
		}

		@media screen and (max-width: 1000px){
			margin-bottom: 20px;
			padding: 0 10px;
			font-size: 80%;
		}

		@media screen and (max-width: 750px){
			width: 50%;
			&:nth-child(2n+1){
				clear: left;
			}
		}

		@media screen and (max-width: 600px){
			font-size: 70%;
		}

		@media screen and (max-width: 500px){
			width: 100%;
		}

		.inner{
			@extend %gridstyle;
			position: relative;
			min-height: 450px;
			background-color: #fff;
			@include transition(all, .3s);

			&:hover{
				background-color: darken(#fff, 2%);
			}	

			@media screen and (max-width: 1000px){
				min-height: 350px;
			}

			@media screen and (max-width: 500px){
				min-height: initial;
			}
		}

		.category{
			display: inline-block;

			ul{
				@extend %notalist;
				list-style-type: none;
			}

			li{
				display: inline-block;
			}

			a{
				display: inline-block;
				padding-bottom: 5px;
				@include mont;
				font-size: 0.75em;
				letter-spacing: 0.5px;
				text-transform: uppercase;
			}
		}

		.title{
			font-size: 1.5em;
		}

		&.news{
			.inner{
				box-shadow:0 5px 0 0 $news;
			}

			.category{
				border-bottom: 8px solid $news;
			}
		}

		&.marketing{
			.inner{
				box-shadow:0 5px 0 0 $marketing;
			}

			.category{
				border-bottom: 8px solid $marketing;		
			}
		}

		&.finances{
			.inner{
				box-shadow:0 5px 0 0 $finances;
			}
			.category{
				border-bottom: 8px solid $finances;	
			}
		}

		&.startup-spotlight{
			.inner{
				box-shadow:0 5px 0 0 $startup;
			}
			.category{
				border-bottom: 8px solid $startup;	
			}
		}

		.date{
			position: absolute;
			bottom: 40px;
			left:30px;
			@include mont;
			font-size: 0.75em;
			letter-spacing: 0.5px;
			text-transform: uppercase;
		}
	}// article

}// article-list

#resource-list{

	.section-heading{
		margin-bottom: 1em;
	}

	.container{
		margin-top: 3em;
	}

	.row{
		margin:0 -20px;

		@media screen and (max-width: 1000px){
			margin:0 -10px;
		}
	}

	article{
		margin-bottom: 40px;
		padding: 0 20px;

		&:nth-child(2n+1){
			clear: left;
		}

		@media screen and (max-width: 750px){
			width: 100%;
			font-size: 100%;
		}

		.inner{
			@extend %gridstyle;
			box-shadow:0 7px 0 0 $orange;
		}

		.title{
			display: inline-block;
			margin-top: 0;
			padding-bottom: 3px;
			font-size: 1.47em;
			line-height: 1.4;
			border-bottom: 8px solid $orange;
		}

		.excerpt{
			font-size: 0.875em;

			p:first-child{
				margin-top: 0;
			}
		}		
	}// article

}// #resources-list

#tweet{

	ul{
		@extend %notalist;
		list-style-type: none;
	}

	.meta{
		margin-bottom: 1em;
		font-size: 1.11em;
		text-transform: lowercase;

		.time{
			margin-left: 1em;
		}
	}

	.text{
		margin-bottom: 1em;
		font-size: 1.26em;
		line-height: 1.4;

		p{
			margin: 0;
		}

		a{
			color: #orange;

			&:hover{
				color: darken($orange, 10%);
			}
		}
	}

	i{
		color: #000;
	}
}// #tweet

#pagination{
	text-align: center;
	
	.page-numbers{
		padding: 0 0.5em;
		@include roboto;
		
		&.current{
			padding-bottom: 5px;
			border-bottom: 5px solid lighten(#032940, 10%);
		}
	}

	.prev{
		@extend .arrow-left;
	}

	.next{
		@extend .arrow-right;
	}

}// #pagination

/* ==========================================================================
   SINGLE
   ========================================================================== */

#single{
	background-color: #fbfbfe;

	#post{
		position: relative;
		max-width: 900px;
		margin: -5em auto 0 auto;
		background-color: #fff;
		border: 1px solid #ebebea;

		@media screen and (max-width: 900px){
			margin: 0 auto;
		}

		.social{
			li{
				display: inline-block;
				margin-left: 5px;

				i{
					vertical-align: bottom;
				}
			}

			&:last-child{
				padding: 0 3em 3em;
			}
		}// .social

		&.news{
			.post-category{
				background-color: $news;
			}

			#post-content{
				blockquote, a{
					color: $news;
				}	
			}
		}

		&.marketing{
			.post-category{
				background-color: $marketing;	
			}

			#post-content{
				blockquote, a{
					color: $marketing;
				}	
			}
		}

		&.startup-spotlight{
			.post-category{
				background-color: $startup;	
			}

			#post-content{
				blockquote, a{
					color: $startup;
				}	
			}
		}

		&.finances{
			.post-category{
				background-color: $finances;	
			}

			#post-content{
				blockquote, a{
					color: $finances;
				}	
			}
		}

	}	// #content

	#post-header{
		padding: 4em 3em 2em;
		border-bottom: 1px solid #ebebea;
		overflow: hidden;

		@media screen and (max-width: 750px){
			padding: 3em 1em 2em;
		}

		.post-category{
			position: absolute;
			top: -1px;
			left: 3em;
			display: inline-block;
			padding: 0.8em 2em;
			color: #fff;
			@include mont;
			font-size: 0.74em;
			text-transform: uppercase;
			background-color: #69646F;

			@media screen and (max-width: 750px){
				left: 1em;
			}
		}

		.post-title{
			margin:0 150px 0.5em 0;
			@include roboto;
			font-size: 2.1em;
			line-height: 1;

			@media screen and (max-width: 750px){
				margin:0 0 0.5em 0;
				font-size: 1.4em;
			}
		}

		.post-date{
			@include mont;
			font-size: 0.74em;
			text-transform: uppercase;

			@media screen and (max-width: 750px){
				font-size: 0.6em;
			}
		}

		.social{
			float: right;
			width: 150px;
			text-align: right;

			@media screen and (max-width: 750px){
				float: none;
				margin-bottom: 1em;
				font-size: 0.85em;
				text-align: left;
			}
		}

	}// #post-header

	#post-content{
		padding: 2em 3em 0 3em;

		blockquote{
			@include roboto;
			font-size: 2em;
			line-height: 1.2;

			@media screen and (max-width: 750px){
				margin: 1em 20px;
			}
		}

		@media screen and (max-width: 750px){
			padding: 1em 1em 0;
			font-size: 0.85em;
		}
	}// #post-content

	#related{
		max-width: 900px;
		margin: 0 auto 2em auto;
		padding: 2em 3em 3em;
		background-color: #fff;
		border-left: 1px solid #ebebea;
		border-right: 1px solid #ebebea;
		border-bottom: 1px solid #ebebea;

		h3{
			margin-top: 0;
		}

		article{
			position: relative;

			@media screen and (max-width: 650px){
				width: 100%;
				margin-bottom: 20px;

				.related-image{
					height: 200px;
				}
			}

			@media screen and (max-width: 400px){
				width: 100%;
				margin-bottom: 20px;

				.related-image{
					height: 150px;
				}
			}

			&.news{
				.related-image{
					border-bottom: 5px solid $news;
				}
				.related-category{
					background-color: $news;
				}
				
			}

			&.marketing{
				.related-image{
					border-bottom: 5px solid $marketing;
				}
				.related-category{
					background-color: $marketing;	
				}
				
			}

			&.startup-spotlight{
				.related-image{
					border-bottom: 5px solid $startup;
				}
				.related-category{
					background-color: $startup;	
				}
				
			}

			&.finances{
				.related-image{
					border-bottom: 5px solid $finances;
				}
				.related-category{
					background-color: $finances;	
				}
				
			}

			.inner{
				background-color: #fcfcfc;
				border: 1px solid #ebebea;
			}
		}// article

		.related-image{
			height: 135px;
			background-size: cover;
			background-position: center;
		}

		.related-category{
			position: absolute;
			top: 10px;
			left: -0.5em;
			padding: 0.8em 3.2em 0.8em 1.2em;
			color: #fff;
			@include mont;
			font-size: 0.625em;
			text-transform: uppercase;
			background-color: #69646F;
		}

		.meta{
			padding: 1em;
		}

		.related-title{
			min-height: 100px;
			margin: 0;
			font-size: 1em;
		}

		.related-time{
			@include mont;
			font-size: 0.625em; 
			text-transform: uppercase;
		}

	}// #related

}// #single

/* ==========================================================================
   HOW WE HELP
   ========================================================================== */

#help{
	.section{
		&:nth-of-type(2n){
			@extend .alt-section;
		}
	}
}// #help

/* ==========================================================================
   STARTUPS
   ========================================================================== */

#startups{
	
	#startups-list{
		article{
			margin-bottom: 20px;

			@media screen and (max-width: 750px){
				width: 50%;
			}

			@media screen and (max-width: 400px){
				width: 100%;
			}

			.inner{
				height: 150px;
				border: 1px solid #ebebea;

				a{
					position: relative;
					display: inline-block;
					height: 100%;
					width: 100%;
					background-color: #fff;

					&:after{
						content: "";
						position: absolute;
						top:0;
						left:0;
						width: 100%;
						height: 100%;
						background-color: rgba(#fff, 0.5);
						@include transition(all, .3s);
					}

					&:hover:after{
						background-color: rgba(#fff, 0);
					}
				}

				.valign{
					width: 100%;
					padding: 1em;
					text-align: center;
				}
			}
		}// article

	}// #startups-list

}// #startups

/* ==========================================================================
   SINGLE STARTUP
   ========================================================================== */

#single-startup{

	.section{
		&:nth-child(2n+2){
			@extend .alt-section;
		}	
	}

	header{
		text-align: center;
	}
	
	.images{
		padding: 0;

		.image{
			padding-top: 30%;
			background-size: cover;
			background-position: center;

			@media screen and (max-width: 700px){
				width: 100%;
				padding-top: 60%;
			}
		}
	}

	.description{
		.subheading{
			display: inline-block;
			margin-top: 1em;
		}
	}

	.video{
		padding: 0;
		background-color: #000;

		.embed-container{
			max-width: 640px;
			margin: 0 auto;
		}
	}

}// #single-startup

/* ==========================================================================
   MENTORS
   ========================================================================== */

#mentors{

	.accredited{
		.subheading{
			margin-bottom: 1.5em;
			color: #fff;
			font-size: 0.875em;
		}
	}

	#mentors-list{
		.row{
			margin: 0 -20px;
		}
	}

	.mentor{
		padding: 20px;

		@media screen and (min-width: 1001px){
			&:nth-child(3n+1){
				clear: left;
			}			
		}
		@media screen and (max-width: 1000px){
			width: 50%;

			&:nth-child(2n+1){
				clear: left;
			}
		}
		@media screen and (max-width: 750px){
			font-size: 80%;
		}
		@media screen and (max-width: 700px){
			width: 100%;
		}

		.inner{
			position: relative;
			padding: 2.5em 2.5em 4em;
			background-color: #fff;
			border: 1px solid #ebebea;
		}

		.mentor-image{
			margin-bottom: 1em;
			text-align: center;
		}

		.mentor-title{
			margin: 0;
			color: #04142b;
		}

		.mentor-cat{
			@extend .subheading;
			font-size: 0.79em;
		}

		.mentor-cat-bar{
			display: block;
			overflow: hidden;

			span{
				float:left;
				height: 9px;
				width: 31px;
				vertical-align: top;

				&.beauty{
					background-color: $beauty;
				}
				&.big-data{
					background-color: $big-data;
				}
				&.cosmetics{
					background-color: $cosmetics;
				}
				&.e-commerce{
					background-color: $e-commerce;
				}
				&.fashion{
					background-color: $fashion;
				}
				&.financial-services{
					background-color: $financial-services;
				}
				&.lifestyle{
					background-color: $lifestyle;
				}
				&.logistics{
					background-color: $logistics;
				}
				&.manufacturing{
					background-color: $manufacturing;
				}
				&.marketing{
					background-color: $marketing;
				}
				&.retail{
					background-color: $retail;
				}
				&.sales{
					background-color: $sales;
				}
				&.social-media{
					background-color: $social-media;
				}
				&.software{
					background-color: $software;
				}
				&.technology{
					background-color: $technology;
				}				
			}
		}// .mentor-cat-bar

		.mentor-networks{
			position: absolute;
			bottom: 0.5em;
			left: 2.5em;

			a{
				font-size: 1.5em;
			}

			li{
				display: inline-block;
				margin-left: 5px;
			}
		}
	}// .mentor

}// #mentors


/* ==========================================================================
   EVENTS
   ========================================================================== */

#events{

	#events-list{

		article{
			border-bottom: 1px solid #ebebea;
		}

		.event{
			a{
				display: block;
				@include transition(all, .3s);
				
				&:hover{
					background-color: darken(#fff,2%);
				}
			}			
		}

		.inner{
			position: relative;
			min-height: 200px;
			max-width: 960px;
			margin: 0 auto;
			padding: 2em 40px 2em 100px;

			@media screen and (max-width: 700px){
				padding: 2em 2em 2em 0;
			}
		}

		.event-image{
			float:left;
			margin-left: -80px;

			img{
				@extend .valign;
				left: 0;
			}

			@media screen and (max-width: 700px){
				display: none;
			}
		}

		.event-details{
			position: relative;
			float:left;
			width: 100%;

			@media screen and (max-width: 700px){
				font-size: 0.85em;
			}
		}

		.event-title{
			margin: 0;
			color: #04142b;
			font-size: 1.58em;
		}

		.event-meta{
			color: #04142b;	
			font-weight: 600;
		}

		i{
			@extend .valign;
			width: 20px;
			right: 0;
		}

	}// #events-list

}// #events

/* ==========================================================================
   SINGLE-EVENT
   ========================================================================== */

#single-event{

	#event-info{
		overflow: hidden;

		.event-details{
			position: relative;
			padding-left: 80px;

			@media screen and (max-width: 500px){
				padding-left: 0;

				.event-image{
					display: none;
				}
			}

			.event-image{
				position: absolute;
				top: 0;
				left: 0;
			}

			.event-title{
				margin: 0 0 0.5em 0;
				font-size: 1.9em;
				line-height: 1;
			}

			.event-meta{
				p{
					margin:0;
					color: #04142b;
					font-weight: 600;
				}
			}
		}// .event-details

		.event-description{
			float: left;
		}

	}// #event-info
	
	#event-agenda{

		h2{
			margin:0 0 0.2em;
			color: #04142b;
			@include source;
			font-size: 1em;
			font-weight: 600;
		}
		.content{
			p:first-child{
				margin-top: 0;
			}
		}

		.speaker-list{
			max-width: 600px;
			
			ul{
				@extend %notalist;
				overflow: hidden;

				li{
					float: left;
					width: 50%;
					margin-bottom: 0.5em;

					@media screen and (max-width: 600px){
						width: 100%;
					}
				}
			}

			h4{
				margin: 0;
				@include source;
				font-size: 1em;
			}
		}

	}// #event-detail

}// #single-event

/* ==========================================================================
   APPLY
   ========================================================================== */

#apply{
	background-color: #fbfbfe;

	.apply-form{
		max-width: 700px;
		margin: 0 auto;
		padding: 3em 0;
	}
}

#thanks{
	.thank-you{
		max-width: 700px;
		margin: 3em auto 0;
		padding: 0 0 3em 0;
		border-top: 3em solid $orange;

		.gform_wrapper{
			padding-top: 0;
		}

		p{
			max-width: 500px;
			margin: 0 auto;
		}
	}
}

/* ==========================================================================
   CONTACT
   ========================================================================== */

#contact{
	background-color: #fbfbfe;

	.row{
		margin: 0 -100px;
	}

	.column{
		padding: 0 100px;
	}

	@media screen and (max-width: 1440px){
		.row{
			margin:0 -50px;
		}

		.column{
			padding:50px;
		}
		
	}

	@media screen and (max-width: 1100px){
		.col-1-2{
			width: 100%;
		}
	}

	#map{
		position: relative;
		max-width: 100%;
		height: 0;
		padding-top: 20%;
		overflow: hidden;

		@media screen and (max-width: 800px){
			padding-top: 50%;
		}

		iframe{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.details{
		margin-top: 3em;

		ul{
			@extend %notalist;

			li{
				position: relative;
				padding-left: 50px;
				margin-bottom: 2em;

				i{
					position: absolute;
					top: 0;
					left: 0;
					color: $orange;
					font-size: 1.5em;
				}
			}
		}
	}// .details

}// #contact