body{
	color: #5d5d5d;
	@include source;
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6{
	@include roboto;
	line-height: 1.5;
}

h1{
	font-size: 3em;
}

h2{
	font-size: 2.25em;
}

h3,h4,h5,h6{
	font-size: 1.5em;
}

.med-font{
	font-size: 1.125em;
}

a{
	color: #032940;
	text-decoration: none;
	@include transition(all, .3s);

	&:hover{
		color: lighten(#032940, 10%);
	}
}


%arrow-links{
	@include mont;
	font-size: 0.75em;
	text-transform: uppercase;

	&:after,&:before{
		display: inline-block;
		@extend %icon;			
		font-size: 0.5em;
		margin-top: -1px;

	}	
}

a.arrow-right{
	@extend %arrow-links;

	&:after{
		content:"\e606";
		margin-left: 5px;
	}	
}

a.arrow-left{
	@extend %arrow-links;
	
	&:before{
		content:"\e605";
		margin-right: 5px;
	}	
}

.page-heading{
	max-width: 850px;
	margin: 0;
	color: #fff;
	font-size: 3em;
	line-height: 1.2;

	@media screen and (max-width: 600px){
		font-size: 2.25em;
	}
}

.section-heading{
	margin: 0;
	color: #04142b;
	font-size: 2.25em;
	line-height: 1;
}

.subheading{
	color: #032940;
	@include mont;
	font-size: 1.125em;
	line-height: 1.2;
	text-transform: uppercase;
}

.number{
	display: inline-block;
	margin-bottom: 0.3em;
	padding-bottom: 5px;
	@include roboto;
	font-size: 2.5em;
	line-height: 1;
	border-bottom: 8px solid #ccc;
}

// TABLES

table {
	margin: 0;
	padding: 0;
	}
table th,
table td {
	padding: 10px 20px;
	text-align: left;
	border-bottom: 1px solid #ccc;
	}
table th {
	border-width: 2px;
	}
table td {
	color: #666;
	}
table tr:last-child th,
table tr:last-child td {
	border-bottom: none;
	}
table tr:nth-child(even) {
	background: #eee;
	}				